<div class="fixed-bottom">
    <footer class="container text-center">
        <img class="footerLogo" src="/assets/logo-no-background.svg" alt="RootedBiz">
        <p>&copy; {{year}} RootedBiz - All rights reserved.</p>
    </footer>
</div>