<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 mb-0">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {{#if logged_in}}
                    <a class="nav-link text-dark" href="/profile">Profile</a>
                    <a class="nav-link text-dark" href="/">Browse Businesses</a>
                    <button class="no-button" id="logout">Logout</button>
                    {{else}}                    
                    <a class="nav-link text-dark" href="/">Browse Businesses</a>
                    <a class="nav-link text-dark" href="/login">Login</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>
</div>
