
body {
  font-family: Arial, sans-serif;
  background: rgb(34,114,195);
  background: linear-gradient(0deg, rgba(34,114,195,1) 0%, rgba(45,253,176,1) 100%);
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.navbar {
  background-color: #4396eb !important;
}

.figure-img {
  width: 420px;
  height: 300px;
}

.popup {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* source - https://www.geeksforgeeks.org/star-rating-using-html-css-and-javascript/
*/

.rating {
max-width: 10rem;
width: 100%;
}

.star {
font-size: 2vh;
cursor: pointer;
}

.one {
color: rgb(255, 0, 0);
}

.two {
color: rgb(255, 106, 0);
}

.three {
color: rgb(157, 14, 159);
}

.four {  
color: rgb(251, 255, 120);
}

.five {
  color: rgb(255, 255, 0);
}

@media(max-width: 600px) {
    .media {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .media img {
      height: 200px !important;
      width: 200px;
    }

    .media h3 {
      margin: 0 !important;
    }

    .media-category {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .media-category img {
      display: none;
    }
}